@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "League Spartan", sans-serif;
}
body {
  line-height: 1.5;
}
.card-wrapper {
  max-width: 100%;
  margin: 0 auto;
}
img {
  width: 100%;
  display: block;
}
.img-display {
  overflow: hidden;
  width: 100%;
}
.img-showcase {
  display: flex;
  width: 100%;
}
.product-content {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #40916c;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-price {
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 700;
}
.price span {
  color: #40916c;
}
.product-detail h2 {
  color: #12263a;
  padding-bottom: 0rem;
  font-size: 1.2rem;
}
.product-detail p {
  font-size: 1.2rem;
  padding-bottom: -2rem;
  opacity: 0.8;
  text-align: justify;
}
.notes h2 {
  font-size: 1.2rem;
}
.notes textarea {
  width: 100%;
  background: #f2f2f2;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: -0.5rem;
}
.purchase-info {
  margin: 1.5rem 0;
}
.purchase-info h2 {
  color: #12263a;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}
.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 0rem;
}
.purchase-info input {
  font-size: 1.2rem;
  width: 60px;
}
.purchase-info .btn {
  cursor: pointer;
  color: #fff;
  padding: 0.6rem 1rem;
  font-size: 1.2rem;
}
.purchase-info .btn:first-of-type {
  background: #40916c;
}
.purchase-info .btn:last-of-type {
  background: #40916c;
}
.purchase-info .btn:hover {
  opacity: 0.9;
}

.btn a{
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
  }
  .card-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
}
